<div style="display: flex; margin-left: 20px;">
    <div style="flex: 5;">
        <h1>Product List</h1>
        <div
                *ngFor="let product of products"
                (click)="onSelectProduct(product)"
                style="border: 1.5px solid black; text-align: center; margin-top: 2px; cursor: pointer;"
        >
            <h3>{{ product.name }}</h3>
            <img src="{{ product.image }}" alt="{{ product.name }}" width="100px" />
        </div>
    </div>

    <div style="flex: 7;">
        <app-product-details *ngIf="selectedProduct" [product]="selectedProduct"></app-product-details>
    </div>
</div>
